# Java
*.class

# Build folders
/bin
/build
.gradle/

# Package files
*.jar
*.war
*.ear
!gradle-wrapper.jar

# Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

# OS files
.*
!.gitignore
!.git*
*~